<!-- Header and navbar -->
<header class="site-header sticky-top py-1">
  <nav class="navbar">
    <form class="container-fluid justify-content-end">
      <a class="py-2 d-md-inline-block mr-15">
        <div class="dropdown">
          <button class="bg-none text-white dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let cat of categories"><a class="dropdown-item"
                (click)="getProductsByCategory(cat.category)">{{cat.category}}</a></li>
          </ul>
        </div>
      </a>
      <form class="d-flex justify-content-start mr-15" [formGroup]="searchControl" (ngSubmit)="submit()">
        <input class="form-control me-2 w-15" type="search" placeholder="Búsqueda" aria-label="Buscar"
          formControlName="parameter">
        <button [disabled]="searchControl.invalid" class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </form>
  </nav>
</header>

<!-- Main content -->
<main>
  <!-- Visible section if there is not products on list -->
  <section class="py-5 text-center container" *ngIf="!products.length">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-12 mx-auto">
        <h1 class="fw-light">Tienda de productos tecnológicos</h1>
        <p class="lead text-muted">Para visualizar productos, comience por buscarlos a través de sus etiquetas en la
          barra de búsqueda.</p>
      </div>
    </div>
  </section>

  <!-- List of available products -->
  <div class="container">
    <div class="row row-cols-3">
      <div class="card col position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
        style="width: 18rem;" *ngFor="let product of products">
        <img src="{{product.webformatURL}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a class="btn btn-outline-dark b-0" (click)="showDetails(product)" data-bs-toggle="modal" data-bs-target="#modalDetail">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetailLabel">Detalles del producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
          <div class="row">
            <div class="col-3">
              <img style="width: 100%;" src="{{productModel.previewURL}}" width="{{productModel.previewWidth}}" height="{{productModel.previewHeight}}">
            </div>
            <div class="col-9">
              <label><strong>Autor: </strong>{{productModel.user}}</label>
              <br>
              <label><strong>Personas a quienes les ha gustado: </strong>{{productModel.likes}}</label>
              <br>
              <label><strong>Etiquetas: </strong>{{productModel.tags}}</label>
              <br>
              <label><strong>Número de vistas: </strong>{{productModel.views}}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" (click)="resetModel()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</main>